.image_side {
    width: 100%
}

.image_side_border {
    border-color: rgb(59, 59, 59);
    border-width: 5px;
    border-style: double;
}

.subtitle {
    text-align: center;
}

.table_styling {
    text-align: center
}